@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.card{
    max-width: 50em;
    flex-direction: row;
    border: 1px solid #f9f5f5;
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.1);
}

.card img{
    max-width: 50%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
}